body
{
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}

.rez_button
{
    padding: 10px;
    background-color: white;
}

.flex
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.container
{
    margin: 30px;
    width: 500px;
}